@import '../../assets/scss/utils/fonts.scss';
@import '../../assets/scss/utils/variables.scss';


.terms_block {
    background: url("images/background/third_block_lines.svg");
    background-repeat: no-repeat;
    background-position: right -620px top;
    padding: 1.875rem 0;

    h1 {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 4rem;
        max-width: 653px;
        line-height: 100.02%;
    }

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 2.25rem;
        text-transform: uppercase;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.75rem;
    }
}

.terms p {
    font-weight: 400;
    font-size: 1.188rem;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}