@font-face {
  font-family: 'Conthrax';
  src: url('fonts/Conthrax-sb.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-ExtraLight';
  src: url('fonts/Nunito/static/Nunito-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-VariableFont_wght';
  src: url('fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}
