//colors
$white: #ffffff;
$akebi_purple: #9844b7;
$noble_black: #1D2029;
$summer_sky: #3bade3;
$blue_oyster_cult: #576fe6;
$lilac_lotion: #ff357f;
$glass: rgba(150, 150, 150, 0.2);
$border: rgba(150, 150, 150, 0.5);

.block_wrapper {
    max-width: 78.5rem;
    margin: 0 auto;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
}

.roadmap_point {
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    height: 8px;
    width: 8px;
    background: linear-gradient(180deg, #FE0083 0%, #7725C8 100%);
    position: relative;
    top: -2px;
}
