:root {
  --hue: 223;
  --bg_preloader: hsl(var(--hue), 90%, 50%);
}

.page_loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #232733;
  z-index: 1055;
  /* margin-top: -80px; */
}
.page_loader_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page_loader img{
  height: 200px;
}
.page_loader p{
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
