.footer {
    background-color: #313131;
    color: #FFFFFF;
    // position: fixed;

    &_container {
        padding-top: 1.25rem;
        padding-bottom: 0.938rem;

    }
}

.img-arrow-bottom_footer {
    margin-left: 0.313rem;
}

.img-arrow-up_footer {
    transition: 0.35s;
    transform: rotate(180deg);
    margin-left: 0.313rem;
}

.footer_top {
    display: flex;
    margin-bottom: 2.813rem;

    .imgLogo {
        width: auto;
        height: 3.75rem !important;
    }

    @media(max-width: 780px) {
        margin-bottom: 0.5rem;
    }
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-weight: 400;
        font-size: 0.875rem;
    }
}

.footer_navigation {
    display: flex;
    padding-top: 0.625rem;
    margin-left: 10.313rem;

    &_a {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        color: inherit;
        margin-bottom: 0.25rem;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer_p {
        font-weight: 700;
        font-size: 1rem;
        margin-bottom: 0.813rem;
    }

    div {
        margin-right: 4.688rem;

        &:last-child {
            margin-right: 0rem;
        }
    }
}


/*******************************************************/
.blockNavigation {
    display: flex;
    cursor: pointer;

    @media(max-width: 780px) {
        display: block;

        &_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;

            &_block {
                display: none;

            }
        }

    }
}


/*******************************************************/


.footer_socials {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.938rem;

    a {
        width: 1.625rem;
        height: 1.625rem;
        border-radius: 50%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        cursor: pointer;
        margin-left: 0.313rem;

        &:hover {
            background-color: #0F0F0F;
        }

        &:hover img {
            filter: invert(1);
        }
    }
}

.footer_connect {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        border: 0.625rem;
        background-color: #4A4A4A;
        padding: 0.313rem 0.65rem;
        border-radius: 0.313rem;
        margin-top: 0.938rem;
        cursor: pointer;
        transition: 1s;
        font-weight: 600;
        text-align: center;

        img {
            height: 1.25rem !important;
            margin-right: 0.313rem;
        }

        &:hover {
            background-color: #F9F9F9;
            color: #000;
        }
    }
}

.showIcon {
    display: none;
}

.footer_flags {
    width: 1.625rem;
    height: 1.625rem;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}


@media(max-width: 1199px) {
    .footer_navigation {
        margin-left: 4.375rem;
    }
}

@media(max-width: 900px) {
    .footer_top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_navigation {
        margin-left: 0rem;
        margin-top: 0.625rem;
    }

    .footer_connect {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .footer_connect div {
        margin-top: 1.25rem;
        margin-left: 0.625rem;
    }
}


@media(max-width: 780px) {

    .mobileFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showIcon {
        display: inline-block;
    }

    .footer_navigation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-row-gap: 0.313rem;
        padding-left: 1.25rem;

        div {
            margin-right: 0;

        }

        .paddingR4 {
            margin-right: 0;
        }
    }
}

@media(max-width: 350px) {
    .footer_connect {
        flex-wrap: wrap;
    }

    .footer_connect div {
        margin-top: 0.313rem;
    }
}